@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
body {
  @apply text-neutral-700;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

h1 {
  @apply text-neutral-900 text-3xl font-bold;
}

h2 {
  @apply text-neutral-900 text-2xl font-semibold;
}

h3 {
  @apply text-neutral-900 text-xl font-semibold;
}
